<h1 class="big">Meet the Herd</h1>

<ul class="list horse-list">
  <% @horses.each do |horse| %>
    <%=erb :"_horse_item", locals: {horse: horse} %>
  <% end %>
</ul>

<%=erb :"_horse_form"%>

<form id="add-horse" class="flex flex-column" method="GET" action="/horses/new">
  <button type="submit" class="button dark">Add a Horse</button>
</form>
